{% extends '_base.html' %}
{% load socialaccount %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
    <h1>Homepage</h1>
    <br>
    <img class="flower" src="{% static 'images/image.png' %}">
    {% if user.is_authenticated %}
        <br>
        Hi {{ user.email }}!
        <p><a href="{% url 'account_logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'account_login' %}">Log In</a>
        <br>
        <br>
        <a href="{% url 'account_signup' %}">Sign Up</a>
        <a href="{% provider_login_url 'github' %}">Sign Up with github</a>
    {% endif %}
    {% endblock content %}